img{
	max-width: 100%;
}
.one{
	width: 100%;
	height: 4px;
	background: #87CEFA;
}

.header{
	width: 100%;
	background: #b5055f;
	padding: 25px;
}

.topo{
	text-align: right;
}

.topo ul li{
	display: inline-block;
	margin: 30px;
	margin-top: 40px;
}

.topo ul li a{
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	line-height: 15px;
	text-decoration:none;
}

.topo ul li a:hover{
	color: #87CEFA;
	/*transition: all 0.3s;*/
}


/* Banner do Site */


.banner{
	width: 100%;
	height: 350px;
	text-align: left;
	background: url(../img/banner4.png) no-repeat center;
	background-size: cover;
	text-align: center;


}

.banner h1{
	font-family: Oswald;
	font-size: 70px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin-top: 100px;
	text-shadow:  black 2px 2px 10px;
	margin-bottom: 50px;
}

.banner a{
	text-transform: uppercase;
	font-weight: bold;
	padding: 25px 20px;
	width: 50px;
	color: white;
	background: #b5055f;
	border-radius: 10px;
	box-shadow: black 2px 2px 10px;
	text-decoration:none;
}

.banner a:hover{
	background: #87CEFA;
	color: black;
	transition: all 0.3s;
	box-shadow: black 2px 2px 10px;
}


/* Decorações */


 .festas h2{
	margin-top: 75px;
	font-family: Oswald;
	font-size: 45px;
	text-align: center;
	color: #b5055f;
	text-transform: uppercase;
}

.festas p{
	font-family: Lato;
	font-size: 24px;
	color: #87CEFA;
	text-transform: uppercase;
	text-align: center;
}

.decoracoes{
	margin-top: 75px;
}

.decoracoes li{
	font-family: Lato;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	line-height: 50px;
	margin-bottom: 10px;
}

.decoracoes img{
	-webkit-transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
}

.decoracoes img:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.decoracoes h3{
	background: #87CEFA;
	color: white;
	font-weight: bold;
}

.decoracoes p{
	font-family: Lato;
	font-size: 17px;
	line-height: 30px;
	margin-bottom: 20px;
	color: black;
	text-transform: initial;
	text-align: center;
}

.decoracoes h4 a{
	background: #b5055f;
	padding: 10px;
	font-family: Oswald;
	line-height:  65px;
	text-decoration: none;
	color: white;
}

.decoracoes h4 a:hover{
	background-color: #87CEFA;
	color: #808080;
	transition: 0.8s all;
}
.decoracoes h4 p{
	font-size: 30px;
}


/* slide de fotos*/


.slide{
	margin-top: 20px;
}
.slide h2{
	margin-top: 75px;
	font-family: Oswald;
	font-size: 40px;
	text-align: center;
	color: #b5055f;
	text-transform: uppercase;
}
.slide p{
	font-family: Lato;
	font-size: 24px;
	color: #87CEFA;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 70px;
}
.fotos{
	display: flex;
	overflow-x: auto;
}
.fotos img{
	margin-left: 50px;
	width: 800px; 
	height: 500px;
}
.slide{
	flex: none;
}


/* localização */

.localizacao h2{
	margin-top: 75px;
	font-family: Oswald;
	font-size: 45px;
	text-align: center;
	color: #b5055f;
	text-transform: uppercase;
}
.localizacao p{
	font-family: Lato;
	font-size: 24px;
	color: #87CEFA;
	text-transform: uppercase;
	text-align: center;
}
.localizacao2{
	margin-top: 50px;
	width: 100%;
	height: 300px;
	text-align: center;
	margin-bottom: 50px;
}
.localizacao{
	text-align: center;
}


/* rodapé */

.footer{
	width: 100%;
	height: 50px;
	background: #b5055f;
}
.footer h3{
	font-family: lato;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 50px;
}

 /* Scrollbar */

 ::-webkit-scrllbar
 ::-webkit-scrollbar-thumb

 ::-webkit-scrollbar-track{
 	background: black;
 }
::-webkit-scrollbar{
	width: 4px;
	background: #b5055f;
}

::-webkit-scrollbar-thumb{
	background: #87CEFA;
}
